*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: white;
}
.ca{
    display: flex;
    align-items: center;
    background-color: black;
    color: #EFEFEF;
}
.ca img{
    width: 70px;
    height: 70px;
    margin: 15px;
}
.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #363636;
    height: 40px;
    padding-left: 10px;
    align-items: center;
}
.menu a{
    margin-right: 10px;
    text-decoration: none;
    color: #EFEFEF;
    border-bottom: 0px solid #EFEFEF;
    padding: 8px;
}
.menu .usuario{
    color: #EFEFEF;
}
.menu a:hover{
    font-style: none;
    color: #EFEFEF;
    border-bottom: 2px solid #EFEFEF;
}
.menu .session-info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu .links-to{
    display: flex;
}
.info{
    display: flex;
}
.ima2{
    height: 25px;
    width: 25px;
}
.userinfo{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #EFEFEF;
}
.cuerpo{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.formulario{
    color: white;
    display: flex;
    justify-content: center;
}
.prod{
    text-align: center;
    background-color: white;
    border: 3px solid #252525;
    box-shadow: 4px 4px 4px 0px black;
    padding: 5px;
    max-width: 400px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    margin: 10px;
    color: #252525;
}
.ima{
    width: 250px;
    height: 240px;
}
.user-user-info {
    display: flex;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
    background-color: black;
    border-radius: 12px;
    margin-top: 20px;
}
.enviar{
    background-color: #363636;
    color: #fff;
    padding: 10px;
    border: none;
    width: 50%;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.enviar:hover {
    background-color: #1F1F1F;
}
input[type="file"] {
    display: none;
}
.file-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.file-input-button {
    background-color: #363636;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 70%;
    text-align: center;
    transition: background-color 0.3s;
}
.file-name {
    margin-top: 10px;
    color: #555;
}
.file-input-button:hover {
    background-color: #1F1F1F;
}
.input{
    height: 42px;
    border-radius: 12px;
    width: 80%;
    font-size: 1.3em;
}
@media (max-width:700px) {
    .cuerpo .adan{
        height: 90%;
    }
    .info{
        text-align: center;
    }
    .arreglos img{
        display: none;
    }
    .title h2{
        font-size: 3em;
    }
    footer{
        flex-wrap: wrap;
    }
    .username-text{
        display: none;
    }
}