*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: white;
}
.ca{
    display: flex;
    align-items: center;
    background-color: black;
    color: #EFEFEF;
}
.ca img{
    width: 70px;
    height: 70px;
    margin: 15px;
}
.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #363636;
    height: 40px;
    padding-left: 10px;
    align-items: center;
}
.menu a{
    margin-right: 10px;
    text-decoration: none;
    color: #EFEFEF;
    border-bottom: 0px solid #EFEFEF;
    padding: 8px;
}
.menu .usuario{
    color: #EFEFEF;
}
.menu a:hover{
    font-style: none;
    color: #EFEFEF;
    border-bottom: 2px solid #EFEFEF;
}
.menu .session-info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu .links-to{
    display: flex;
}
.info{
    display: flex;
}
.ima2{
    height: 25px;
    width: 25px;
}
.userinfo{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #EFEFEF;
}
.cuerpo{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.prod{
    text-align: center;
    background-color: white;
    border: 3px solid #252525;
    box-shadow: 4px 4px 4px 0px black;
    padding: 5px;
    max-width: 400px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    margin: 10px;
    color: #252525;
}
.ima{
    width: 250px;
    height: 240px;
}
.user-user-info {
    display: flex;
    align-items: center;
}
@media (max-width:700px) {
    .cuerpo .adan{
        height: 90%;
    }
    .info{
        text-align: center;
    }
    .arreglos img{
        display: none;
    }
    .title h2{
        font-size: 3em;
    }
    footer{
        flex-wrap: wrap;
    }
    .username-text{
        display: none;
    }
}