.tickets-container {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background-color: #363636;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.ticket-info {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #363636;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.ticket-info p {
    margin: 0;
}

.eliminar-btn {
    background-color: #ff6961;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.eliminar-btn:hover {
    background-color: #ff5450;
}
